<form 
    hx-post="/auth/login" 
    hx-trigger="submit"
    class="flex flex-col w-1/2 mx-auto"
  >
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">Login</button>
</form>